<!DOCTYPE html>
<html>
<head>
	<title>ciric</title>
	<link rel= "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel= "stylesheet" href="/app.css">
	<script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

    <body background="main_bg.jpg">
        <div class="container">
            <nav class ="navbar navbar-default navb">
                <div class="container">
                    
                    <div class= "container-fluid">
                        
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">Ciric</a>
                        </div>
                        
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                             <ul class="nav navbar-nav">
                                 <li><a href="/cazare">Cazare</a></li>
                                 <li><a href="restaurant">Restaurant</a></li>
                                 <li><a href="conferinte">Conferinte</a></li>
                                 <li><a href="agrement">Agrement</a></li>
                             </ul>
                             <ul class="nav navbar-nav navbar-right" >
                                 <li><a href="evenimente">Evenimente</a></li>
                                 <li><a href="galerie">Galerie</a></li>
                                 <li><a href="contact">Contact</a></li>
                             </ul>
                        </div>
    
                    </div>    
                </div>
            </nav>
        </div>
        <div class="container well-sm">
            <div class="thumbnail">
                <a href="/"><img src="logoslog.jpg"></a>
            </div>
        </div>

            
