<% include partials/header%>
<h1>agrement!</h1>
<div class="container">
    <div class="well">
        <h2>Oaspetii pot beneficia de multiple posibilitati de recreere:</h2>
        <div class="page-header well">
            <h3> In cadrul Zonei de Agrement Ciric aveti la dispozitie:<h3>
            <div class="row">
                <div class="col-xs-6">
                    <ul>
                        <li>plimbari pe lac cu hidrobicilete si barci</li>
                        <li>teren de fotbal</li>
                        <li>teren pentru tenis de camp</li>
                        <li>tenis de masa</li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <ul>
                        <li>piscine</li>
                        <li>minigolf</li>
                        <li>parcuri de joaca pentru copii</li>
                        <li>baruri si cluburi de noapte</li>
                    </ul>
                </div>                
            </div>
        </div>
        <div class="page-header well">
            <h3>Copii beneficiaza gratuit de: </h3>
            <div class="row">
                <div class="col-sm-4">
                    <h3>spatii de joaca special amenajate</h3>
                    <div class="thumbnail">
                        <img class="img-rounded" src="logo.png">
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3>plimbari cu masinute electrice sau mecanice</h3>
                    <div class="thumbnail">
                        <img class="img-rounded" src="logo.png">
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3>compania familiei de ponei</h3>
                    <div class="thumbnail">
                        <img class="img-rounded" src="logo.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer%>