<% include partials/header%>
<h1>cazare!</h1>
<div class="container">
  <div class="page-header">
    <h1>Oferta de cazare <small> include 60 de locuri dispuse astfel:</small></h1>
  </div>
  <div class="container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      </ol>
        <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="cazare.jpg" alt="...">
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item">
        <img src="cazare4.jpg" alt="...">
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item">
        <img src="cazare2.jpg" alt="...">
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item">
        <img src="cazare3.jpg" alt="...">
        <div class="carousel-caption">
          ...
        </div>
      </div>
      ...
      </div>
          <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="page-header"></div>
  <div class="well">
  <div class="row">
    <div class="col-xs-4 centered">
      <h3>Apartament</h3>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#apartament">Detalii</button>
    </div>
    <div class="modal fade bs-example-modal-lg" id="apartament" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="container">
              <h1>Tarif: 240 lei</h1>
              <h2>Micul dejun este inclus in pretul de cazare!</h2>
              <h3>Apartamentele noastre va pun la dispozitie: </h3>
              <ul>
                <li><h4>dormitor cu pat matrimonial</h4></li>
                <li><h4>living-room spatios</h4></li>
                <li><h4>baie dotata toate utilitatile</h4></li>
                <li><h4>balcon cu priveliste spre lac</h4></li>
              </ul>
          </div>
          </div>
        </div>
      </div>
    <div class="col-xs-4 centered">
      <h3>Camera Dubla</h3>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dubla">Detalii</button>
    </div>
    <div class="modal fade bs-example-modal-lg" id="dubla" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="container">
              <h1>Tarif: 190 lei</h1>
              <h2>Micul dejun este inclus in pretul de cazare!</h2>
              <h3>Camerele Duble va pun la dispozitie: </h3>
              <ul>
                <li><h4>dormitor spatios cu pat matrimonial sau twin</h4></li>
                <li><h4>baie dotata toate utilitatile</h4></li>
                <li><h4>priveliste spre lac sau spre padure</h4></li>
              </ul>
          </div>
          </div>
          </div>
        </div>
    <div class="col-xs-4 centered">
      <h3>Camera Single</h3>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#single">Detalii</button>
    </div>
    <div class="modal fade bs-example-modal-lg" id="single" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="container">
              <h1>Tarif: 150 lei</h1>
              <h2>Micul dejun este inclus in pretul de cazare!</h2>
              <h3>Camerele Single va pun la dispozitie: </h3>
              <ul>
                <li><h4>dormitor spatios cu pat matrimonial sau single</h4></li>
                <li><h4>baie dotata toate utilitatile</h4></li>
                <li><h4>priveliste spre lac sau spre padure</h4></li>
              </ul>
          </div>
          </div>
        </div>
      </div>
  </div>
  </div>
    
  <div class="page-header"></div>
  
  <div class="container">
    <div class="container">
      <div class="container">
        <div class="container">
          <div class="centered"><h2>Facilitati:</h2></div>
          <div class="row centered">
            <div class="col-xs-4"> 
               <h3><small><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></small>  Transport Aeroportul International Iasi </h3>
            </div>
            <div class="col-xs-4">
               <h3><small><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></small>  Parcare supravegheata</h3>
            </div>
            <div class="col-xs-4">
               <h3><small><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></small>   Internet Wi-Fi/ Cablu</h3>
            </div>
          </div>
          <div class="row centered">
            <div class="col-xs-4"> 
               <h3><small><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></small>  Frigider cu mini-bar </h3>
            </div>
            <div class="col-xs-4">
               <h3><small><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></small>  Telefon</h3>
            </div>
            <div class="col-xs-4">
               <h3><small><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></small>   Room-service</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
    

<% include partials/footer%>