<% include partials/header%>
<h1>conferinte!</h1>
<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="logo.png">
<!-- Large modal -->
                    <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#poza1">Mareste imaginea</button>
                    
                    <div class="modal fade bs-example-modal-lg" id="poza1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content thumbnail">
                            <img src="exterior.gif">
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="logo.png">
<!-- Large modal -->
                    <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#poza1">Mareste imaginea</button>
                    
                    <div class="modal fade bs-example-modal-lg" id="poza1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content thumbnail">
                            <img src="exterior.gif">
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="logo.png">
<!-- Large modal -->
                    <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#poza1">Mareste imaginea</button>
                    
                    <div class="modal fade bs-example-modal-lg" id="poza1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content thumbnail">
                            <img src="exterior.gif">
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="logo.png">
<!-- Large modal -->
                    <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#poza1">Mareste imaginea</button>
                    
                    <div class="modal fade bs-example-modal-lg" id="poza1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content thumbnail">
                            <img src="exterior.gif">
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="row">
            <div class="page-header"><h1>Hotel Ciric *** <small>va pune la dispozitie:</small></h1></div>
            <h4 class="well"> Trei sali de conferinte de capacitati diferite de 20, 40 si 400 de locuri, ce ofera spatiul oficial pentru conferinte, seminarii, simpozioane, team-building, workshop-uri, intalniri si mese de afaceri</h4>
            <h4 class="well"> Acestea sunt dotate cu aer condiţionat, microfoane cu instalaţie de sonorizare-amplificare, videoproiector, retroproiector, ecran de proiecţie, flipchart si materiale de papetarie.</h4>
            <h4 class="well"> Pe lângă asigurarea logisticii si utilitatilor necesare, la dispoziţia dumneavoastră se află şi un serviciu excelent gata să vă îndeplinească cererile în cel mai scurt timp. Personalul specializat în catering se va ocupa fie de realizarea unui meniu în stil bufet, fie a unui meniu în stil restaurant. </h4>
            <h4 class="well">Hotel Ciric *** vă va oferi toate informațiile necesare și tot sprijinul pentru a vă alcătui un meniu personalizat, conform dorințelor dumneavoastră.</h4>
        </div>
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-4 centered">
                <!-- Large modal -->
                <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#tarifeS">Tarife</button>
                
                <div class="modal fade bs-example-modal-lg" id="tarifeS" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <table class="table table-bordered table-hover">
                        <tr class="info">
                            <th>Denumire Sala</th>
                            <th>2 ore</th>
                            <th>4 ore</th>
                            <th>8 ore</th>
                        </tr>
                        <tr>
                            <td>Sala A (400 de locuri)</td>
                            <td>300 RON</td>
                            <td>500 RON</td>
                            <td>700 RON</td>
                        </tr>
                        <tr>
                            <td>Sala B (40 de locuri)</td>
                            <td>100 RON</td>
                            <td>200 RON</td>
                            <td>300 RON</td>
                        </tr>
                        <tr>
                            <td>Sala C (20 de locuri)</td>
                            <td>50 RON/ora</td>
                        </tr>
                      </table>
                      <div class="page-header">
                          <h5 class="succes">* Preţurile includ TVA</h5>
                          <h5>Aceste tarife includ: videoproiector, flipchart, ecran proiecţie, sonorizare, internet, fax. Celelalte echipamente, cât şi meniurile sunt plătite în regim separat.</h5> 
                          <h5>Tarif pentru suprafeţe expoziţionale: 5,5 RON mp/zi.</h5>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>
    
</div>
<% include partials/footer%>