<% include partials/header%>
<h1>home!</h1>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="thumbnail">
              <img src="confortRelax.jpg" alt="...">
              <div class="caption">
                <h3>Confort si relaxare</h3>
                <p>Hotel Ciric*** este usor accesibil, fiind amplasat la numai 1.8 km de Aeroportul International Iasi si la doar 3 km de centrul orasului, pe malul lacului Ciric, in cadrul unui veritabil resort de odihna si recreere.</p>
                <p><a href="#" class="btn btn-primary" role="button">Mai multe detalii</a></p>
              </div>
            </div>
       </div>
       <div class="col-xs-12 col-sm-6">
            <div class="thumbnail">
              <img src="acces.gif" alt="...">
              <div class="caption">
                <h3>Accesibilitate si Facilitati</h3>
                <p>Inconjurat de padure, ferit de aglomeratia urbana, printr-o imbinare armonioasa a serviciilor de inalta calitate cu o priveliste minunata, Hotel Ciric *** ofera confortul ideal in orice perioada a anului!</p>
                <p><a href="#" class="btn btn-primary" role="button">Mai multe detalii</a></p>
              </div>
            </div>
       </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="thumbnail">
              <img src="mancare1.jpg" alt="...">
              <div class="caption">
                <h3>Servicii de catering </h3>
                <p>Bucataria romaneasca si internationala va sta la dispozitie cu o gama larga de produse pe gustul fiecaruia.</p>
                <p><a href="#" class="btn btn-primary" role="button">Mai multe detalii</a></p>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="thumbnail">
              <img src="rest1.jpg" alt="...">
              <div class="caption">
                <h3>Restaurant Grand Salon</h3>
                <p>Cu o capacitate de 400 de locuri, ofera conditii si servicii de calitate necesare organizarii de evenimente speciale, cine festive, cocktailuri, receptii, conferinte, intruniri de afaceri si altele...</p>
                <p><a href="#" class="btn btn-primary" role="button">Mai multe detalii</a></p>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="thumbnail">
              <img src="tAf.jpg" alt="...">
              <div class="caption">
                <h3>Turism de afaceri</h3>
                <p>Hotel Ciric *** reprezinta o destinatie excelenta pentru turismul de afaceri atat datorita accesibilitatii sale dar si a facilitatilor integrate oferite: cazare, restaurant, sali de conferinta, divertisment si relaxare.</p>
                <p><a href="#" class="btn btn-primary" role="button">Mai multe detalii</a></p>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="thumbnail">
              <img src="event2017.jpg" alt="...">
              <div class="caption">
                <h3>Evenimente</h3>
                <p>Sperând într-o colaborare cât mai fructuoasă și îndelungată, echipa noastră vă stă permanent la dispozitie, principalul său obiectiv fiind găsirea soluțiilor optime pentru dumneavoastră.</p>
                <p><a href="#" class="btn btn-primary" role="button">Mai multe detalii</a></p>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="container well">
    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="video.mp4"></iframe>
    </div>
</div>

<% include partials/footer%>