<% include partials/header%>
    <h1>restaurant!</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8">
        <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic1" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic1" data-slide-to="2"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active thumbnail">
            <img src="11.jpg" alt="...">
            <div class="carousel-caption">
              <h5>Camerele spatiose si luminoase, avand balcon cu vedere spre lac sau spre padure, au fost recent modernizate pentru a oferi un plus de confort si o ambianta placuta si relaxanta.</h5>
            </div>
          </div>
          <div class="item thumbnail">
            <img src="rest1.jpg" alt="...">
            <div class="carousel-caption">
              <h5>Printr-o îmbinare armonioasă a elementelor clasice cu cele moderne, hotelul asigură astfel o şedere relaxantă în atmosfera plăcută a apei şi a împrejurimilor naturii.</h5>
            </div>
          </div>
        </div>
      
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic1" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic1" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h2>Restaurant Grand Salon</h2>
                    <p>poate fi locaţia ideală pentru organizarea unui eveniment special dar şi pentru o cină cu prietenii sau familia</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mGrandSalon">Mai multe detalii</button>
                    <div class="modal fade bs-example-modal-lg" id="mGrandSalon" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          ...
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active thumbnail">
                <img src="11.jpg" alt="...">
                <div class="carousel-caption">
                  <h5>Camerele spatiose si luminoase, avand balcon cu vedere spre lac sau spre padure, au fost recent modernizate pentru a oferi un plus de confort si o ambianta placuta si relaxanta.</h5>
                </div>
              </div>
              <div class="item thumbnail">
                <img src="exterior.gif" alt="...">
                <div class="carousel-caption">
                  <h5>Printr-o îmbinare armonioasă a elementelor clasice cu cele moderne, hotelul asigură astfel o şedere relaxantă în atmosfera plăcută a apei şi a împrejurimilor naturii.</h5>
                </div>
              </div>
            </div>
      
        <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h2>Terasa Hotel Ciric</h2>
                    <p> aflata pe marginea lacului Ciric, ofera un peisaj mirific si bucuria de a te afla in mijlocul naturii si de a petrece momente linistite si relaxante alaturi de cei dragi.</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mTerasa">Mai multe detalii</button>
                    <div class="modal fade bs-example-modal-lg" id="mTerasa" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          ...
                        </div>
                      </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="row">
            <div class="col-md-4 thumbnail">
              <img src="mancare2.jpg">
            </div>
            <div class="col-md-4 centered">
                <div class="caption">
                    <div></div>
                    <h2>Oferta Restaurant</h2>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mOferta">Mai multe detalii</button>
                    <div class="modal fade bs-example-modal-lg" id="mOferta" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          ...
                        </div>
                      </div>
                    </div>
                    <h2>Servicii de Catering</h2>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mCatering">Mai multe detalii</button>
                    <div class="modal fade bs-example-modal-lg" id="mCatering" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          ...
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 thumbnail">
              <img src="mancare1.jpg">
            </div>
        </div>
    </div>
<% include partials/footer%>